@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --text-color: #a5a5a5;
    --highlight-color: #fff;
    --purple: #8a00fc;
    --background-color: #1C1A1B;
    --gray-color: #252223;
    --gray-border-color: #595556;
}

.purplebutton{
    background-color: transparent;
    border: 3px solid var(--purple);
    padding: 6px 12px;
    border-radius: 50px;
    color: var(--highlight-color);
    text-shadow: 0 0 8px var(--highlight-color), 0 0 8px var(--highlight-color);
    box-shadow: inset 0 0 12px var(--purple), 0 0 12px var(--purple);
    transition: background ease 0.3s;
    text-decoration: none;
}

.purplebutton:hover{
    background-color: var(--purple);
    cursor: pointer;
}

.darkbutton{
    background-color: transparent;
    border: 3px solid var(--gray-border-color);
    background-color: var(--background-color);
    padding: 6px 12px;
    border-radius: 50px;
    color: var(--highlight-color);
    transition: background ease 0.3s;
    text-decoration: none;
}

.darkbutton:hover{
    background-color: var(--gray-border-color);
    cursor: pointer;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Sour Gummy', sans-serif;
}


img{
    width: 100%;
}



body{
    background-color: var(--background-color);
    color: var(--text-color);
}

header{
    background-color: var(--gray-color);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3%;
    border-bottom: solid var(--gray-border-color);
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo .logoframe{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img{
    width: 90px;
    height: 90px;
}

header .logo h2{
    font-size: 20px;
    margin: 0px 5px;
    color: var(--highlight-color);
}

header .nav{
    display: flex;
    align-items: center;
}

header .nav i{
    display: none;
    margin: 0px 10px;
    color: var(--highlight-color);
    font-size: 30px;
}

header .nav ul{
    display: flex;
    list-style: none;
}

header .nav ul li{
    margin: 0px 10px;
    transition: color ease 0.3s;
}

header .nav ul li.active{
    color: var(--highlight-color);
}

header .nav ul li:not(.active):hover{
    color: var(--highlight-color);
    
}

main{
    padding: 0px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main .home .text h1{
    color: var(--highlight-color);
    font-size: 60px;
}

main .home .text p{
    margin: 0px 0px 25px 0px;
}

main .home .buttons{
    width: 250px;
    display: flex;
    justify-content: space-between;
}

main .home .audio{
    display: flex;
    margin: 25px;
}

main .home .audio .circle{    
    width: 75px;
    height: 75px;
    background-image: linear-gradient(to bottom, var(--gray-border-color), var(--gray-border-color), var(--purple));
    margin: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px var(--purple);
    animation: leds 2s linear infinite;
}

main .home .audio .circle:nth-child(2) {
    animation-delay: 0.66s;
}

main .home .audio .circle:nth-child(3) {
    animation-delay: 1.33s;
}

main .home .audio .circle .circle{
    width: 70px;
    height: 70px;
    background-color: var(--gray-color);
    background-image: none;
    box-shadow: none;
}

main .home .audio .circle .circle .circle{    
    width: 50px;
    height: 50px;
    background-color: var(--background-color);
}

@keyframes leds {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes ledsborder {
    0% {
        border-color: var(--gray-border-color) var(--purple) var(--gray-border-color) var(--purple);
    }
    25% {
        border-color: var(--purple) var(--gray-border-color) var(--purple) var(--gray-border-color);
    }
    50% {
        border-color: var(--gray-border-color) var(--purple) var(--gray-border-color) var(--purple);
    }
    75% {
        border-color: var(--purple) var(--gray-border-color) var(--purple) var(--gray-border-color);
    }
    100% {
        border-color: var(--gray-border-color) var(--purple) var(--gray-border-color) var(--purple);
    }
}

main .home .musicname {
    width: 300px;
    height: 50px;
    border: solid 2px var(--purple);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .home .musicname p{
    font-size: 18px;
}

main .home .musicname i{
    font-size: 20px;
    transition: color ease 0.3s;
}

main .home .musicname i:hover{
    color: var(--highlight-color);
    cursor: pointer;
}

main .circle{    
    width: 450px;
    height: 450px;
    background-image: linear-gradient(to bottom, var(--gray-border-color), var(--gray-border-color), var(--purple));
    margin: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px var(--purple);
    animation: leds 2s linear infinite;
}

main .circle .circle{
    width: 430px;
    height: 430px;
    background-color: var(--gray-color);
    background-image: none;
    box-shadow: none;
}

main .circle .circle .circle{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to bottom, var(--gray-border-color), var(--gray-border-color), var(--purple));
    box-shadow: 0 2px 6px var(--purple);
    animation: leds 2s linear infinite;
}

main .circle .circle .circle .circle{
    width: 380px;
    height: 380px;
    background-color: var(--gray-color);
    background-image: none;
    box-shadow: none;
}

main .circle .circle .circle .circle .circle{
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom, var(--gray-border-color), var(--gray-border-color), var(--purple));
    box-shadow: 0 2px 6px var(--purple);
    animation: leds 2s linear infinite;
}

@media (max-width: 550px) {

    header .nav {
        flex-direction: row-reverse;
    }

    header .nav i{
        display: block;
    }

    header .nav ul{
        display: none;
    }

    main{
        flex-direction: column;
    }
}